*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLEXBOX: CONTAINER PROPERTIES */
.container {
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* FLEXBOX: CHILD PROPERTIES */
/* 1. align-self */
/* 2. order */
/* 3. flex-grow */
/* 4. flex-basis: same as width. Give value in % or px */
/* 5. flex-shrink: 0 or 1. Default : 1 */

.item{
    background-color: #ff0037;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;

    flex-grow: 1;
    /* They r occupying the maximum space available inside the container */
}

.items-3 {
    /* height: 150px; */
         /* using .items-3 : as reference point*/ 
}

.items-4 {
    /* align-self: flex-start; */
    /* align-self: flex-end; */
    /* align-self: stretch;    */
        /* item stretches to match the tallest item i.e "item-3" here */
}

/* .items-1 {
    order: 3;
}

.items-2 {
    order: 4;
}

.items-3 {
    order: 0;
}

.items-4 {
    order: 1;
}

.items-5 {
    order: 2;
} */

.items-1 {
    
}

.items-2 {
    
}

.items-3 {
    
}

.items-4 {
    /* flex-grow: 5; */
    /*    item-4 is 3 times bigger than the rest of the flex items. 
            flex-grow property works relatively        */

           
}

.items-5 {
    flex-basis: 700px; 
    flex-shrink: 0;
}