/* To handle multiple flex-items */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLEXBOX: CONTAINER PROPERTIES */
.container {
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;
    height: 600px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-around;
    align-content: space-between;
    align-content: space-evenly;


}


.item{
    background-color: #ff0037;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;




}

.items-10 {
    flex: 1;
}

