*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;

    display: flex;
    flex-direction: row;                /* default  */
    flex-direction: column;             /* x-axis, y-axis */
    flex-direction: column-reverse;     /* inverted y-axis */
    flex-direction: row-reverse;
}

.item{
    background-color: #ff0037;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
}