*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;
    height: 1400px;

    display: flex;
    flex-direction: row;                /* default  */
    flex-direction: column;             /* x-axis, y-axis */
    flex-direction: column-reverse;     /* inverted y-axis */
    flex-direction: row-reverse;

    /*  Main Axis: X-axis
        Cross Axis: Y-axis
    */

    /* justify-content: defines how the flex items shd be stacked along the main (X) axis */
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: flex-start;        /* default */
    justify-content: flex-end;

    /* align-items: defines how the flex items shd be stacked along the cross (Y) axis */
    flex-direction: row;
    justify-content: center;

    align-items: center;
    align-items: flex-start;
    align-items: flex-end;
    align-items: stretch;       /* stretch height to max height of the tallest item */

    align-items: baseline;      /* it aligns all the flex items along the text number 4 on an imaginary line. */

    /* Most used 3 flex properties */
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* When the flex direction is set to column, the main axis would be the y-axis, and the cross axis would be the x-axis */
    /* Align-items : affects the cross axis. */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    align-items: flex-start;

    /*  */
    justify-content: space-between;


}

.item{
    background-color: #ff0037;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
}

/* .items-3 {
    height: 150px;
}

.items-4{
    font-size: 70px;
} */